<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--  jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
            crossorigin="anonymous"></script>
    <title>상품목록 페이지</title>

    <!-- Custom fonts for this template-->
    <link href="/bootstrap/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/bootstrap/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create an Item!</h1>
                        </div>
                        <form name="createForm" class="item">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="itemNm"
                                           name="itemNm" placeholder="Item Name">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control form-control-user" id="price"
                                           name="price" placeholder="Price">
                                </div>
                                <input id="regpeId" type="hidden" name="regpeId" value="SSG">
                            </div>
                            <a href="#" class="btn btn-primary btn-user btn-block" onclick="doCreate()">
                                Register Item
                            </a>
                            <hr>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" th:href="@{/main}">Main Page</a>
                        </div>
                        <div class="text-center">
                            <a class="small" th:href="@{/item/index}">Item Index</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="/bootstrap/vendor/jquery/jquery.min.js"></script>
<script src="/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/bootstrap/js/sb-admin-2.min.js"></script>

<script type="text/javascript">

    jQuery.fn.serializeObject = function() {
        var obj = null;
        try {
            if (this[0].tagName && this[0].tagName.toUpperCase() == "FORM") {
                var arr = this.serializeArray();
                if (arr) {
                    obj = {};
                    jQuery.each(arr, function() {
                        obj[this.name] = this.value;
                    });
                }//if ( arr ) {
            }
        } catch (e) {
            alert(e.message);
        } finally {
        }

        return obj;
    };

    function doCreate() {

        if (!doValidation()) {
            return;
        }

        /* 		var data = {};
                $("form[name=signUpForm]").serializeArray().forEach(function(element) {
                    data[element.name] = element.value;
                }); */
        var formData = JSON.stringify($("form[name=createForm]").serializeObject());

        alert(formData);

        $.ajax({
            url : "/item/create",
            type : "POST",
            dataType : 'json',
            /* data : JSON.stringify(data), */
            data : formData,
            contentType : "application/json; charset=utf-8",
            success : function(data) {
                if (data.code === "0000") {
                    alert(data.msg + " " + data.id);
                } else {
                    alert(data.msg);
                }
            },
            error : function(request, status, error) {
                alert("code = "+ request.status + " message = " + request.responseText + " error = " + error); // 실패 시 처리
            }
        })
    }

    function doValidation() {
        if (createForm.itemNm.value === "") {
            alert("상품명을 입력해주세요.");
            return false;
        }
        if (createForm.price.value === "" || createForm.price.value == null) {
            alert("가격 입력을해주세요.");
            return false;
        }
        if (createForm.price.value < 0) {
            alert("0원 이상부터 가능합니다..");
            return false;
        }
        return true;
    }
</script>

</body>
</html>