<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 PAGE</title>
</head>
<body>
    <h1>로그인 PAGE</h1>

    <section class="loginSec">
        <form name="loginForm" action="/login/perform" method="post">
            <ul>
                <!-- CSRF 사용시 주석 제거 -->
                <!--<li>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </li>-->
                <li>
                    <label for="mbrLoginId">ID</label>
                    <input id="mbrLoginId" type="text" name="mbrLoginId" placeholder="LOGIN ID" required>
                </li>
                <li>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" placeholder="PASSWORD" required>
                </li>
                <li>
                    <input type="submit" value="로그인" />
                </li>
            </ul>
        </form>
        <a th:href="@{/signup}">회원가입</a>
        <a th:href="@{/main}">메인</a>
    </section>
</body>
</html>