<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<!-- thymeleaf 가이드 https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html#standard-expression-syntax -->
<head>
    <meta charset="UTF-8">
    <title>SSG.COM 스터디 PG 인증 메인페이지</title>
</head>
<body>
    <h1>MAIN PAGE</h1>
    <a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
    <a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a>
    <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
    <div sec:authorize="isAuthenticated()">
        ID : <span sec:authentication="name"></span><br>
        ID(principal) : <span sec:authentication="principal"></span><br>
        비밀번호 : <span sec:authentication="credentials"></span> <br>
        소유 권한 : <span sec:authentication="authorities"></span> <br>
        상세: <span sec:authentication="details"></span> <br>
    </div>
</body>
</html>